.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Fundamentos NIIF para microempresas
            h1.curso-titulo Interpretación de los resultados de la información financiera NIIF para microempresas
            .brand-line-primary

            p.curso-descripcion Implementar las normas de información financiera (NIIF) según criterios para Microempresas

            br

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")               