h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Verificar el registro de las operaciones comerciales de las microempresas, teniendo en cuenta la norma de información financiera NIIF para 





