h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#pages/intro.html/')
                    +navTemaItem('1', 'Aplicación por primera vez de la norma de información financiera para microempresas', 'main.html#page/aplicacion/')
                    +navTemaItem('2', 'Procedimientos para preparar los estados financieros en la fecha de transición', 'main.html#page/procedimientos/')
                    +navTemaItem('3', 'Revelación de la transición a la norma de información financiera para las microempresas', 'main.html#page/revelacion/')
                    +navTemaItem('4', 'Validar el registro de la información contable según la norma de información financiera para microempresas', 'main.html#page/validar/')
                    +navTemaItem('5', 'Emitir los reportes y los estados financieros según la norma de información financiera', 'main.html#page/emitir/')                    
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')