include ../mixins/functions

+pageHeader('Implementación de las normas de información financiera NIIF para microempresas', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 5.	Emitir los reportes y los estados financieros según la norma de información financiera

    .card
        .card-body
            p Emitir reportes y/o estados financieros constituye una representación estructurada de la situación financiera y rendimiento financiero de una entidad. El objetivo de los estados financieros es suministrar información acerca de la situación financiera, del rendimiento financiero y de los flujos de efectivo de una entidad, que sea útil a una amplia variedad de usuarios a la hora de tomar sus decisiones económicas. Los estados financieros también muestran los resultados de la gestión realizada por los administradores con los recursos que les han sido confiados.  