.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Activo Corriente:
            | es el efectivo equivalente al efectivo al menos que este restringido y no pueda ser intercambiado, ni utilizado.
        
        p
            strong.mr-2 Acumulación o devengo:
            | describe efectos de las transacciones y otros sucesos sobre los recursos económicos.
        p 
            strong.mr-2 Costo Atribuido:
            | es un importe que se puede utilizar como una exención voluntariamente elegida por parte de la entidad en adopción por primera vez en partidas pertenecientes a Propiedad, Planta y Equipo; Propiedades de Inversión (Si se escoge la aplicación del modelo del costo), y activos intangibles (si cumplen con los criterios de reconocimiento). El costo atribuido no se puede usar en la medición de otros activos o pasivos.
        p 
            strong.mr-2 Costo Histórico:
            | los activos se registran por el importe de efectivo y otras partidas pagadas o por el valor razonable de la contrapartida entregada a cambio en el momento de la adquisición.

        p
            strong.mr-2 Costos Corriente:
            | los activos se registran por el importe de efectivo y otras partidas equivalentes que debería pagarse si se adquiriese en la actualidad el mismo activo o su equivalente.
        
        p
            strong.mr-2 Valor Realizable:
            | también llamado de liquidación. Los activos se llevan contablemente por el importe de efectivo y otras partidas equivalentes al efectivo que podrían obtenerse, en el momento presente, por la venta no forzada de los mismos.
        p 
            strong.mr-2 Valor Presente:
            | los activos se llevan contablemente al valor presente, descontando las entradas netas de efectivo que se espera genere la partida en el curso normal de operación.
        p 
            strong.mr-2 XBRL:
            | Lenguaje Estándar de Transferencia de Información.          
