include ../mixins/functions
.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias

        +referenciaItem("(Godoy, R. (2018). Adopción por primera vez a las niif-esfa : Plenas, pymes y microempresas. Retrieved from ", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")

        +referenciaItem("(MINCIT, 2012). Decreto 2706 de 2012. Consultado en ", "https://niif.com.co/decreto-2706-2012/marco-tecnico-nif-grupo-3")

        +referenciaItem("Ramírez, (2017). NIIF para Microempresas. Normas de Información Financiera para Microempresas con ejercicios de aplicación. Universidad Libre. Bogotá y Cali. Grupo de Investigación, Gestión y Apoyo a Mipymes. Página web Universidad Libre de Colombia ", "http://www.unilibre.edu.co/bogota/pdfs/2017/NIF-MICROEMPRESAS.pdf")

        +referenciaItem("Superintendencia de Sociedades. Guía general de aplicación por primera vez del marco técnico normativo de aplicación para microempresas. ", "http://www.comunidadcontable.com/BancoMedios/Documentos%20PDF/guia%20implementaci%C3%B3n%20por%20primera%20vez%20microempresas%202.pdf") 